<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Roles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <h2>Roles</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {% for role in roles %}
            <tr>
                <td>{{ role[0] }}</td>
                <td>{{ role[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</body>
</html>
